@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Noto+Serif+JP&display=swap");

/* ****************************************************************************
 *
 * 1. common
 *
 * ***************************************************************************/
/* ======================================================
 * 1-1. Reset
 * =================================================== */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,address,del,em,font,img,small,strike,strong,sub,sup,b,u,i,center,
dl,dt,dd,ul,li,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}
body,table,input,textarea,select,option{
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
}
ol,ul,dl,li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
}
blockquote,q{
	quotes: none;
}
ins{
	text-decoration: none;
}
del{
	text-decoration: line-through;
}
img{
	max-width: 100% !important;
	height: auto;
	vertical-align: text-bottom;
}
*{
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,strong{
	font-weight: bold;
}


/* ======================================================
 * 1-2. Style
 * =================================================== */
/*body{
	-webkit-text-size-adjust: none;
	overflow:hidden;
}*/
.RakutenWrap{
	position: relative;
	width: 950px;
	margin: -8px 0 0;
	padding: 0;
	color: #f8f8f8;
	text-align: center;
	font-size: 16px;
	*font-size: small; /* for IE */
	*font: x-small; /* for IE in quirks mode */
	line-height: 100%;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
	font-weight: 500;
}

.aligncenter{
	display: block;
	clear: both;
	margin: 0.5em auto;
}
.alignleft{
	float: left;
	clear: both;
	margin: 0.25em 1em 0.25em 0;
}
.alignright{
	float: right;
	clear: both;
	margin: 0.25em 0 0.25em 1em;
}
.alignnone{
	float: none;
	clear: both;
	margin: 0;
}
strong{
	font-weight: bold;
}
.large{
	font-size: 1.2rem;
	line-height: 180%;
}
.small{
	font-size: 0.8rem;
}
.red{
	color: red;
}
.clear{
	clear: both !important;
}

.RakutenWrap a:link		{ color: #fff; text-decoration: none;}
.RakutenWrap a:visited	{ color: #fff; text-decoration: none; }
.RakutenWrap a:hover	{ color: #f8f8f8; text-decoration: underline;}
.RakutenWrap a:active	{ color: #f8f8f8; text-decoration: underline;}
a{  font-weight: bold;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
a img:hover{
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-webkit-transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;
}


/* ======================================================
 * 1-3. Header
 * =================================================== */
.RakutenWrap #header{
	display: flex;
	flex: auto;
	align-items: center;
	width: 950px;
	height: 60px;
	background: #3e3a39;
}
.RakutenWrap #header h1{
	width: 224px;
	height: 60px;
	padding: 5px;
}
.RakutenWrap h1 a{
	display: block;
	width: 214px;
	height: 50px;
	text-indent: -9999em;
	z-index: 2;
}
#sapporo h1 a{
	background: url(../../../../images/common/logo_s.svg) no-repeat;
	background-size: contain;
}
#hon-atsugi h1 a{
	background: url(../../../../images/common/logo_h.svg) no-repeat;
	background-size: contain;
}
#gotemba-komakado h1 a{
	background: url(../../../../images/common/logo_g.svg) no-repeat;
	background-size: contain;
}
#nishikasai h1 a{
	background: url(../../../../images/common/logo_n.svg) no-repeat;
	background-size: contain;
}
#nishikasai-grande h1 a{
	background: url(../../../../images/common/logo_i.svg) no-repeat;
	background-size: contain;
}
#yokohama-kannai h1 a{
	background: url(../../../../images/common/logo_y.svg) no-repeat;
	background-size: contain;
}
#naha h1 a{
	background: url(../../../../images/common/logo_t.svg) no-repeat;
	background-size: contain;
}

/* Language */
.RakutenWrap #header ul#lang{
	display: flex;
	flex: auto;
	flex-wrap: nowrap;
	width: 180px;
	border-right: solid 1px #666;
}   /*1205ここまで　*/
.RakutenWrap #header ul#lang a{
	display: block;
	width: 60px;
	height: 60px;
	border-left: solid 1px #666;
	text-align: center;
	line-height: 60px;
}
.RakutenWrap #header ul#lang a:hover{
	background: #b58d4b;
	color: #fff;
	text-decoration: none;
}

/* Tel */
.RakutenWrap #header #tel{
	width: 796px;/* 1200-224-180 */
	text-align: right;
}
.RakutenWrap #header #tel a{
	display: inline-block;
	padding-right: 1em;
	font: bold 24px/100% 'Merriweather', serif;
}
.RakutenWrap #header #tel a:before{
	content: '';
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 5px;
	background: url(https://rembrandt-style.com/rakuten/images/common/ico_tel.png);
	background-size: contain;
	vertical-align: middle;
}
.RakutenWrap #header #tel a:hover{
	text-decoration: none;
}


/* ======================================================
 * 1-4. Nav
 * =================================================== */
.RakutenWrap #nav{
	position: relative;
	display: inline-block;
	margin-top: 10px;
	z-index: 999;
}
.RakutenWrap #nav ul{
	display: flex;
	flex: auto;
	justify-content: center;
}

.RakutenWrap #nav ul li{
	display: block;
	min-width: 105px;
	line-height: 1.2;
	padding: 2.0rem 0;
	background-color: rgba(62,58,57,1);
	font-size: 12px;
	text-decoration: none;
	text-align: center;
	border-right: solid 1px #666666;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all  .5s ease;
}

.RakutenWrap #nav ul li a{
	display: block;
	min-width: 105px;
	line-height: 1.2;
	text-align: center;
	text-decoration: none;
}

.RakutenWrap #nav ul li span{
	font-size: 10px;
	font-weight: bold;
}

.RakutenWrap #nav ul li:last-child {
	border-right: none;
}

.RakutenWrap #nav ul li:hover,
.RakutenWrap #nav ul li.active{
	background: #b58d4b;
	color: #fff;
	text-decoration: none;
}


/* ======================================================
 * 1-5. footer
 * =================================================== */
.RakutenWrap #footer{
	position: relative;
	height: 320px;
	background: #000000;
	margin-bottom: 20px;
}

#footer_inner {
	width: 100%;
	height: 100%;
	padding: 10px 0 0;
	color: #fff;
	text-align: center;
}

.RakutenWrap #address{
	text-align: center;
	line-height: 2.0;
}

.RakutenWrap #address strong:before{
	content: '';
	display: block;
	width: 120px;
	height: 80px;
	margin: 0 auto;
	background: url(https://rembrandt-style.com/rakuten/images/common/logo.png) no-repeat;
	background-size: contain;
}

.RakutenWrap #footer ul.nav{
	display: flex;
	flex: auto;
	justify-content: center;
	align-items: center;
	margin-top: 3em;
}
.RakutenWrap #footer ul.nav a{
	display: block;
	min-width: 8em;
	padding: 1.5em;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all  .5s ease;
}

.RakutenWrap #footer ul.nav a:hover{
	color: #b58d4b;
}

.RakutenWrap #copy{
	height: 20px;
	padding: 2em;
	margin-top: 0;
	text-align: center;
	font-size: 90%;
}


/* ****************************************************************************
 *
 * 2. Contents
 *
 * ***************************************************************************/
/* ======================================================
 * 2-1. main
 * =================================================== */
.RakutenWrap #main{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	width: 950px;
	margin: 50px auto;
}


/* ======================================================
 * 2-2. トップページ
 * =================================================== */


/*----------------------
  Common
------------------------*/
.RakutenWrap #main.top section{
	width: 950px;
	line-height: 200%;
}

.RakutenWrap #main.top h3{
	width: 100%;
	padding: 2em 0;
	color: #fff;
	font: 1.2em/100% "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif !important;
	text-align: center;
}
.RakutenWrap #main.top h3 span.en{
	display: block;
	padding-bottom: 10px;
	margin: 0 auto;
	color: #fff;
	font: 400 50px/150% 'Cinzel', serif;
	text-align: center;
}
.RakutenWrap #main.top h5{
	font-size: 24px;
}
.RakutenWrap #main.top .section div.thum,
.RakutenWrap #main.top .section div.thum_r{
	width: 60% !important;
}
.top p.btn{
	margin-top: 2em;
}

/* banner */
.RakutenWrap #banner,
.RakutenWrap #banner *{
	text-align: center;
	margin-bottom: 200px;
}
.RakutenWrap #banner img{
	margin: 1em 0 .5em 0;
}


/* ======================================================
 * 2-3. Common
 * =================================================== */
/*----------------------
  Title
------------------------*/
#ttl{
	width: 100%;
	background: #fff;
}
#ttl img{
	width: 100%;
	height: auto;
	z-index: 1;
}
h3.ttl{
	position: absolute;
	top: 240px;
	right: 0;
	padding: 30px;
	background-color: rgba(0,0,0,0.9);
	color: #fff;
	font: 40px/100% 'Cinzel', serif;
		z-index: 2;
}
h3.ttl span.jp{
	display: inline-block;
	padding-left: 1em;
	font: 24px/100% "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}


/*----------------------
  Others
------------------------*/
.section{
	clear: both;
	position: relative;
	width: 100%;
	padding-bottom: 1em;
	margin-bottom: 120px;
	color: #f8f8f8;
	line-height: 150%;
	overflow: hidden;
	transition: opacity 1.0s;
	-moz-transition: opacity 1.0s;
	-webkit-transition: opacity 1.0s;
	-o-transition: opacity 1.0s;
}
section.titleonly{
	margin-bottom: 0 !important;
}
.section p{
	padding: .2em 0;
	line-height: 1.8;
}
.section h4{
	margin-bottom: 2em;
	color: #b58d4b;
	font: 500 36px/120% 'Noto Serif JP', serif;
	text-align: center;
	z-index: -1;
}

.section h4 span{
	font-size: 30px;
}

.section h5{
	margin-bottom: 1em;
	color: #fff;
	font: 500 24px/160% "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}
.section h4.en{
	font: 500 34px/120% 'Cinzel', sans-serif;
}
.section h4.ttl,
.section h5.ttl{
	display: inline-block;
	padding-bottom: .5em;
	margin-bottom: 1em;
	color: #ccc;
	border-bottom: solid 1px #ccc;
	font: 500 24px/160% "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
	text-align: left;
}
.section h6{
	margin-bottom: .5em 0;
	color: #dcc8a5;
	font-weight: bold;
}
.sightseeing h6{
	margin-top: 1em;
}

.section div.thum,
.section div.thum_right{
	position: relative;
	float: left;
	width: 50%;
	padding-right: 2em;
	z-index: 2;
}
.section div.thum_right{
	float: right !important;
	padding: 0 0 0 2em !important;
}
.section div.thum img,
.section div.thum_right img{
	width: 100%;
	height: auto;
	margin-bottom: .5em;
}

/* Gallery */
.section div.gallery{
	width: 100%;
	margin-bottom: 3em;
}
.section div.gallery p.main_pic img{
	width: 100%;
	height: auto;
	margin: 0;
}
.section div.gallery ul{
	display: flex;
	flex: auto;
	flex-wrap: nowrap;
	width: 100%;
}
.section div.gallery li{
	position: relative;
	width: 25%;
	overflow: hidden;
}
.section div.gallery li:before{
	content: "";
	display: block;
	padding-top: 66.667%;
}
.section div.gallery li img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2px;
	object-fit: cover;
	opacity: 1;
	-webkit-transition: .5 ease-in-out;
	transition: .5s ease-in-out;
}
.section div.gallery li img:hover{
	opacity: .6;
}
.gallery_w50{ /* Galley */
	display: inline-block;
	float: left;
	width: 50% !important;
	padding-right: 1em;
}

.center,
.center h4,
.center h5,
.center h6,
.center p{
	text-align: center !important;
}
.left{
	display: block;
	text-align: left !important;
}

/* 分割 */
ul.col2,
ul.col3,
ul.col4{
	display: flex;
	flex: auto;
	flex-wrap: wrap;
	padding: .5em 0 2em 0;
}
ul.col2 li{
	width: 48% !important;
	margin: 1em 1%;
}
ul.col3 li{
	width: 31.3% !important;
	margin: 1em 1%;
}
ul.col4 li{
	width: 23% !important;
	margin: 1em 1%;
}
ul.col2 img,
ul.col3 img,
ul.col4 img{
	width: 100%;
	height: auto;
}
ul.flex{
	display: flex;
	flex: auto;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0 auto; 
	color: #f8f8f8;
}
ul.flex > li{
	padding: .8em 1em;
	text-align: center;
}
ul li.ttl{
	width: 100%;
	margin-bottom: .2em;
	color: #dcc8a5;
	border-bottom: solid 1px #dcc8a5;
	font: 500 20px/120% 'Noto Serif JP', serif;
}
.line{
	padding: 1em 0;
	border-top: solid 1px #dcc8a5;
	border-bottom: solid 1px #dcc8a5;
}

.w100{
	width: 100% !important;
	height: auto !important;
	min-height: auto !important;
}

section.col2,
section.col_top2{
	width: 48% !important;
	margin: 0 1% 80px 1%;
}
section.col3{
	width: 31% !important;
	margin: 0 1% 80px 1%;
}
section.col_top2 div.thum,
section.col3 div.thum{
	float: none !important;
	width: 100% !important;
	padding-left: 0px !important;
	margin-top: 2em;
}
.col3 h4,/* グランデ */
.col3 h4.en{
	min-height: 3em;
	padding-bottom: .5em;
	margin-bottom: 0;
	color: #ccc;
	border-bottom: solid 1px #ccc;
	font: 500 24px/130% "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
	text-align: left;
}
.col2 h5{/* グランデ */
	margin-bottom: .5em;
	font-size: 18px;
	font-weight: bold;
}
div.flex{
	display: flex;
	flex: auto;
	flex-wrap: nowrap;
	justify-content: space-between;
}

/* Table */
table{
	max-width: 100% !important;
	min-width: 50%;
	margin: 1em auto 2em auto;
	border-collapse: collapse;
	table-layout: fixed;
}
table th,
table td{
	padding: .5em;
}
table th{
	padding-right: 3em;
	font-weight: bold;
	vertical-align: top;
	white-space: nowrap;
}
table.left{
	margin: auto;
}
table.bg{
	border-top: solid 1px #373433;
	border-left: solid 1px #373433;
}
table.bg th{
	background: #5e5755;
	border-bottom: solid 1px #373433;
}
table.bg td{
	border-right: solid 1px #373433;
	border-bottom: solid 1px #373433;
}
table.th_r th{
	text-align: right;
}

ul.list,
ul.kome{
	margin: 0 0 1em 0;
}
ul.list > li{
	padding: .2em 0;
	margin-left: 1.2em;
	list-style-type: disc;
}
ul.kome > li{
	padding: .2em 0;
	margin-left: 1em;
	text-indent: -1em;
}
ul.kome > li:before {
	content: '※';
}

p.btn a,
a.btn,
ul.rsvlnk a{
	display: inline-block;
	min-width: 150px;
	padding: .5em 1em;
	margin-top: 1em;
	border: 1px solid #f8f8f8;
	color: #f8f8f8;
	text-align: center;
	background-size: 200% 100%;
	background-image: -webkit-linear-gradient(left, transparent 50%, rgba(0, 0, 0, 1) 50%);
	background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 1) 50%);
	-webkit-transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}
p.btn a:hover,
a.btn:hover,
ul.rsvlnk a:hover{
	background-color: #333;
	background-position: -100% 100%;
	text-decoration: none;
}
p.btn{
	text-align: right;
}
p.btn a:before,
a.btn:before{
	content: '　';
	background: url(https://rembrandt-style.com/images/common/yazi_r_w.png) no-repeat center left;
	width: 6px;
	height: 8px;
}

/* 矢印マーク付きリンク */
a.yazi{
	padding: .3em 0 .3em 10px;
	margin: 0 3px;
	background: url(../../../../../images/common/yazi_r_w.png) no-repeat center left;
}
a.lnk{
	padding: .3em 0 .3em 24px;
	margin: 0 3px;
	color: #f8f8f8;
	background: url(../../../../images/common/ico_lnk.png) no-repeat center left;
	background-size: 16px 16px;
}
a.pdf{
	padding: .3em 0 .3em 25px;
	margin: .5em 3px;
	background: url(../../../../images/common/ico_pdf.png) no-repeat center left;
}
a.mail{
	padding: .3em 0 .3em 22px;
	margin-right: 3px;
	background: url(../../../../images/common/ico_mail.gif) no-repeat center left;
}
a.tel{
	padding-left: 24px;
	margin: .2em 0;
	background: url(../../../../images/common/ico_tel.png) no-repeat 0 5px;
	background-size: 22px 22px;
	font: 26px/110% 'Merriweather', serif;
}

hr{
	margin: 2em 0;
	height: 1px;
	border: 0;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.mt1{
	margin-top: 1em;
}

/* ======================================================
 * 3-1. Stay
 * =================================================== */
.stay .swiper-container{
	height: 600px;
	margin-bottom: 1em;
	oberflow: hidden;
}
.stay .swiper-slide{
	position: relative;
	width: 100%;
}
.stay .swiper-slide:before{
	content: "";
	display: block;
}
.stay .swiper-slide img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2px;
	object-fit: cover;
	font-family: 'object-fit: cover;'; /* IE */
}

table.roomdetail{
	min-width: 60% !important;
	margin: 3em auto 1em auto;
}
table.roomdetail th{
	padding-right: 3em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
table.roomdetail td{
	text-align: center;
	line-height: 200%;
}

.stay ul.col3 {
	justify-content: center;
	padding: .5em 0;
	border-top: solid 1px;
	border-bottom: solid 1px;
	color: #f8f8f8;
}
.stay ul.col3 li{
	width: auto !important;
	margin: 1em !important;
	text-align: center; 
}


/* ======================================================
 * 3-2. Restaurant
 * =================================================== */
/* Sapporo */
table.menu_list{
	width: 100%;
	margin: 1em auto 2em auto;
}
table.menu_list th,
table.menu_list td{
	padding: 1em; 
}
table.menu_list th{
	padding-right: 3em;
	border: solid 1px #000;
	background: #EFE9D8;
	color: #000;
    font-size: 14px !important;
	font-weight: bold;
	vertical-align: top;
	white-space: nowrap;
}
table.menu_list td{
	border: solid 1px #000;
	background: #f8f8f8;
	color: #000;
	font-size: 14px;
	line-height: 2.0;
}


/* ======================================================
 * 3-3. Sightseeing
 * =================================================== */
section.sightseeing{
	padding-bottom: 3em;
}
section.sightseeing h5{
	margin-bottom: 1em;
	font-size: 110%;
}
section.sightseeing p.address{
	min-height: 3.4em;
}
a.map{
	display: block;
	margin-bottom: 1em;
	padding: .3em;
	background: #707070 url(https://rembrandt-style.com/images/common/ico_map.png) no-repeat 2em center;
	background-size: 26px 26px;
	color: #f8f8f8;
	font-weight: bold;
	text-align: center;
}
a.map:hover{
	background: #333 url(https://rembrandt-style.com/images/common/ico_map.png) no-repeat 2em center;
	background-size: 26px 26px;
	text-decoration: none;
}


/* ======================================================
 * 3-4. FAQ
 * =================================================== */
/* TAB設定 */
ul.tab_nav{
	display: flex;
	flex: auto;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
	margin: 2em 0;
}
ul.tab_nav li{
	padding: 0 .5em;
}
ul.tab_nav li a{
	display: block;
	min-width: 15%;
	padding: 1em;
	border: solid 1px #707070;
	text-align: center;
}
ul.tab_nav li a:hover,
ul.tab_nav li.active a{
	background: #dece90;
	text-decoration: none;
}

.tab_content{
	overflow: hidden;
}
.tab_content dl{
	padding: 1em 0;
	border-bottom: solid 1px #707070;
}
.tab_content dt{
	color: #dcc8a5;
	font-weight: bold;
}
.tab_content dl dt,
.tab_content dl dd{
	padding: .5em 1em;
	padding-left: 30px;
	text-indent: -30px;
}
.tab_content dt:before{
	content: 'Q. ';
	width: 30px;
	font: 24px/140% 'EB Garamond', serif, arial, helvetica, sans-serif;
}
.tab_content dd:before{
	content: 'A. ';
	width: 30px;
	font: 24px/140% 'EB Garamond', serif, arial, helvetica, sans-serif;
}


/* ======================================================
 * 3-5. Service
 * =================================================== */
ul#service{
	display: flex;
	flex: auto;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	border-bottom: dotted 1px #fff;
}
ul#service li{
	display: flex;
	flex: auto;
	flex-wrap: nowrap;
	align-items: center;
	width: calc(50% - 0.4em);
	padding: 1em 0;
	margin: 0 .2em;
	border-top: dotted 1px #fff;
}
ul#service li *{
	display: block;
	flex-basis: auto;
	flex: 1;
}
ul#service li:before{
	flex-basis: 50px;
	flex-grow: 0;
	content: '';
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	background: url(../../../../images/common/ico_facilities.png);
	background-size: 1250px 50px;
}
ul#service li.faci_pc:before{
	background-position: 0 0;
}
ul#service li.faci_wifi:before{
	background-position: -50px 0;
}
ul#service li.faci_net:before{
	background-position: -100px 0;
}
ul#service li.faci_vending:before{
	background-position: -150px 0;
}
ul#service li.faci_ice:before{
	background-position: -200px 0;
}
ul#service li.faci_conveni:before{
	background-position: -250px 0;
}
ul#service li.faci_fitness:before{
	background-position: -300px 0;
}
ul#service li.faci_laundry:before{
	background-position: -350px 0;
}
ul#service li.faci_laundryservice:before{
	background-position: -400px 0;
}
ul#service li.faci_copy:before{
	background-position: -450px 0;
}
ul#service li.faci_delivery:before{
	background-position: -500px 0;
}
ul#service li.faci_smoking:before{
	background-position: -550px 0;
}
ul#service li.faci_business:before{
	background-position: -600px 0;
}
ul#service li.faci_presser:before{
	background-position: -650px 0;
}
ul#service li.faci_valuables:before{
	background-position: -700px 0;
}
ul#service li.faci_clock:before{
	background-position: -750px 0;
}
ul#service li.faci_taxi:before{
	background-position: -800px 0;
}
ul#service li.faci_post:before{
	background-position: -850px 0;
}
ul#service li.faci_massage:before{
	background-position: -900px 0;
}
ul#service li.faci_suitcase:before{
	background-position: -950px 0;
}
ul#service li.faci_humidifier:before{
	background-position: -1000px 0;
}
ul#service li.faci_iron:before{
	background-position: -1050px 0;
}
ul#service li.faci_oven:before{
	background-position: -1100px 0;
}
ul#service li.faci_tv:before{
	background-position: -1150px 0;
}
ul#service li.faci_stand:before{
	background-position: -1200px 0;
}


/* ======================================================
 * 3-6 Access
 * =================================================== */
.access iframe{
	margin-bottom: 1em;
}

table.access{
	width: 100%;
	max-width: 100%;
	margin: 0;
	border-collapse: separate;
	border-spacing: 0 20px;
	box-sizing: content-box;
}
table.access th,
table.access td{
	min-height: 2em;
	padding: 1em;
	border: solid 2px #3E3a39;
	color: #fff;
}
table.access th{
	padding: 0;
	color: #fff;
	font-size: 1.0em;
	line-height: 120%;
}
table.access td,
table.access td span{
	text-align: center;
}
table.access td.point{
	background: #b58d4b;
	color: #fff;
}
table.access td.to{
	background: #909090;
}
table.access td.hotel{
	border: solid 2px #fff;
	color: #fff;
}
.en table.access td.hotel{
	width: auto;
}
table.access td span{
	display: block;
	font-size: 90%;
}
table.access td span.ac_top{
	border-bottom: dotted 2px #fff;
}
table.access td.left{
	padding: 2em 0 0 0;
	text-align: left;
}
.en table.access td.left{
	font-weight: bold;
}
table.access td.left:before{
	content: '※ ';
}


/* ======================================================
 * Kiryu
 * =================================================== */
/* Concept */
.section h4.concept{
	margin-bottom: 0.1em;
	color: #f8f8f8;
	font: 500 46px/120% 'Noto Serif JP', serif;
}

.section h4.concept span{
	font-size: 36px;
}

.section h5.concept{
	margin: 1em 0;
	font: 400 28px/120% 'Noto Serif JP', serif;
	text-align: center !important;
}

/* Restaurant */
table.menu_list{
	margin: 1em auto 2em auto;
}
table.menu_list th,
table.menu_list td{
	padding: 1em; 
}
table.menu_list th{
	width: 25%;
	border: solid 1px #000;
	background: #EFE9D8;
	color: #000;
  font-size: 14px !important;
	font-weight: bold;
	vertical-align: top;
	white-space: nowrap;
}
table.menu_list td{
	width: 75%;
	border: solid 1px #000;
	background: #f8f8f8;
	color: #000;
	font-size: 14px;
	line-height: 2.0;
	font-weight: bold;
	vertical-align: top;
}

.section h4.oiso{
	margin-bottom: 1em !important;
	color: #b58d4b;
	font: 500 32px/120% 'Noto Serif JP', serif;
	text-align: center;
	z-index: -1;
}
.section h5.oiso_ttl{
	margin-bottom: 1em !important;
	color: #f8f8f8;
	font: 20px/180% "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif !important;
	text-align: center;
}

.section div.thum_30,
.section div.thum_30_oiso,
.section div.thum_30_faci,
.section div.thum_20,
.section div.thum_50,
.section div.thum_50_r,
.section div.thum_50_l,
.section div.thum_60,
.section div.thum_60_r,
.section div.thum_70,
.section div.thum_70_r{
	position: relative;
	float: left;
	z-index: 2;
}
.section div.thum_30{
	width: 33%;
	padding-left: 4px;
}
.section div.thum_30_oiso{
	width: 33%;
	padding-right: 10px;
}
.section div.thum_30_faci{
	width: 33%;
	padding: 10px 10px 60px 0;
}
.section div.thum_30_faci h5{
	margin: 0;
	color: #f8f8f8;
	font: bold 18px/100% 'Noto Serif JP', serif;
	text-align: center;
	z-index: -1;
}
.section div.thum_30_faci p{
	padding: 10px;
}
.section div.thum_20{
	width: 25%;
	padding: 4px;
}

.section div.thum_30_sp,
.section div.thum_20_sp{
	display: none;
}

.section div.thum_50{
	float: right;
	width: 50%;
	padding-left: 4px;
}
.section div.thum_50_r{
	float: right;
	width: 50%;
	padding-left: 30px;
}
.section div.thum_50_l{
	width: 50%;
	padding-right: 30px;
}
.section div.thum_60{
	width: 60%;
	padding-right: 30px;
}
.section div.thum_60_r{
	float: right;
	width: 60%;
	padding-left: 30px;
}
.section div.thum_70{
	width: 70%;
	padding-right: 30px;
}
.section div.thum_70_r{
	float: right;
	width: 70%;
	padding-left: 30px;
}
.section div.thum_20 img,
.section div.thum_30 img,
.section div.thum_30_oiso img,
.section div.thum_50 img,
.section div.thum_60 img,
.section div.thum_60_r img,
.section div.thum_70 img,
.section div.thum_70_r img{
	width: 100%;
	height: auto;
	margin-bottom: 4px;
}


/* ======================================================
 * Rakuten
 * =================================================== */
/*#htlSide-A{padding-top:80px}
#trvlHtlTabNav,#trvlHtlSubNav{margin-left:-250px;position:relative;z-index:1000}*/
#htlContents{max-width:1190px !important;min-width:1190px !important;margin:0 auto !important}
#htlHeader{background:transparent !important}

.RakutenWrap #header,
.RakutenWrap #nav {
	width: 950px;
	margin: 0 auto;
}

div#flexslider,
.top div.swiper-container {
	width: 100%;
	height: auto;
}
div#slider ul.slides,
.top div.swiper-slide{
	height: auto;
}

div#slider ul.slides img,
.top div.swiper-slide img {
	display: inline-block;
	width: 100%;
	height: auto;
}



/*div#slider ul.slides li{
	margin-top: -280px; /* TOP画像 H1200をH640に合わせる為
} */
#ttl,
.RakutenWrap #footer,
.RakutenWrap #copy{
	position: relative;
	width: 950px;
}

/* Style限定(黒背景の為) */
body{
	background: #3e3a39 !important;
	color: #f8f8f8 !important;
}
/* Header */
#htlBrdCrmbs,
#htlBrdCrmbs h1,
#htlBrdCrmbs a:link,/* 楽天トラベルトップ～ */
#htlBrdCrmbs a:visited,
#htlBrdCrmbs a:hover,
#htlBrdCrmbs a:active,
#htlHeader ul li a:link,/* クチコミ～ */
#htlHeader ul li a:visited{
	color: #f8f8f8 !important;
	font-weight: normal;
}
div#htlHeader div#RthNameArea h2 a:link,/* タイトル */
div#htlHeader div#RthNameArea h2 a:visited{
	color: #b58d4b !important;
}
/* Footer */
ul#RthExcursionArea,/* ページ送り */
p.RthChainLink a{
	width: 100% !important;
}
p#RthPagetop{/* ページトップ */
	width: 100%;
}
ul#RthExcursionArea a,/* ページ送り */
p.RthChainLink a,/* グループ一覧 */
p#RthPagetop a,/* ページトップ */
div.rt-footer a/* 会社情報 */
{	position: relative;
	background: none !important;
	color: #fff !important;
	font-weight: normal;
	z-index: 10000 !important;
}
div.rt-footer,/* 会社情報 */
div.rt-footer a{
	background: #3e3a39 !important;
	color: #f8f8f8 !important;
	font-weight: normal;
}

#htlBrdCrmbs h1{/* NG */
	background: #ccc;
	color: #f8f8f8 !important;
}
#htlBrdCrmbs{
	width: 1200px;/* 御殿場タイトル長くて改行が入る為 */
}

section.content *{
	color: black !important;
}

