@charset "UTF-8";

 /*共通 */


body {
   font-size: 40px;
   font-family: 'Jost'; 
   background-color: #000000;
   color: white;
}

li{
   decoration: none;
}
    



.bgParallax {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
  }
 
  .bgParallax-video{
    width: 100%;
    height: 100vh;
    vertical-align: bottom;
    
  }



  /* header */

  .header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 90px;
    background: linear-gradient(0deg, rgba(185, 177, 177, 0) 0%, rgba(0, 0, 0, 1) 80%);
  }
  
  .header-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
  }
  
  .header-logo {
  

  } 

.nav-list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.nav-item {
  font-size: 19px;
  line-height: 1;
  letter-spacing: 0.1em;
  color: var(--main-color);
}



/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
    position: relative;
    height: 100%;
    
  }
  
  
  
  .mv-titleArea {
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: 300px;
    margin-left: 200px;
    color: #000000;
    transform: translateY(-50%);
  }
  
.mv-title {
    font-size: 140px;
    font-weight: 600;
    line-height: 0.9;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    font-size: 60px;
  }
  
  .mv-subtitle {
    font-size: 34px;
    line-height: 1;
    letter-spacing: 0.01em;
    margin-bottom: 50px;
  }
  
  .works{
    background-color: #000000;

  }
  
  .works-titleArea{
    background-color: #000000;
    position: center;   
}
  

  .works-title{
    font-size: 140px;
    font-weight: 600;
    line-height: 0.9;
    letter-spacing: 0.05em;
    margin-top: 0 ;
    font-size: 60px;
    margin: auto;
  }


  
