@charset "UTF-8";

:root {
  --main-color: #000000;
}

/*--------------------------------
 全体
---------------------------------*/
body {
  /*font-family: 'Noto Sans JP', sans-serif;*/
  font-family: Arial, Helvetica, sans-serif;
  

  
  font-size: 16px;
  color: #333;
  background-color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*

.container{

max-width: 1170px;
margin: 0 auto;
/* padding: 0 30px; */
}
*/


/*--------------------------------
 ローディング
---------------------------------*/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100vw;
  height: 100%;
  background-color: #000000;
}

.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  margin: 0;
  transform: translate(-50%, -50%);
}

.loading-text {
  color: var(--main-color);
  margin-top: 10px;
}

.atom-spinner,
.atom-spinner * {
  box-sizing: border-box;
}

.atom-spinner {
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.atom-spinner .spinner-inner {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.atom-spinner .spinner-circle {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: calc(60px * 0.24);
  color: #00fff5;
  transform: translate(-50%, -50%);
}

.atom-spinner .spinner-line {
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-width: calc(60px / 25);
  border-left-width: calc(60px / 25);
  border-top-style: solid;
  border-left-style: solid;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: #00fff5;
  animation-duration: 1s;
}

.atom-spinner .spinner-line:nth-child(1) {
  transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
  animation: atom-spinner-animation-1 1s linear infinite;
}

.atom-spinner .spinner-line:nth-child(2) {
  transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
  animation: atom-spinner-animation-2 1s linear infinite;
}

.atom-spinner .spinner-line:nth-child(3) {
  transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
  animation: atom-spinner-animation-3 1s linear infinite;
}

@keyframes atom-spinner-animation-1 {
  100% {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-2 {
  100% {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-3 {
  100% {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}

/* MIT License

https://github.com/epicmaxco/vuestic-admin/blob/master/LICENSE

Copyright (c) 2021 Epicmax LLC

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
paraIMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE. */

/*--------------------------------
背景動画
---------------------------------*/
.bgParallax {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 130%;
}

/*
.bgParallax::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 87.5vh;
  background-image: linear-gradient(
    45deg,
    rgba(206, 206, 206, 0.2) 50%,
    rgba(187, 187, 187, 0.5) 50%
  );
  background-size: 4px 4px;
}
*/

.bgParallax-video {
  width: 100%;
  height: 90vh;
  margin-left: -180px;
  vertical-align: bottom;
  object-fit: cover;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color :#e6e1e1;
  top : 0;
}

.header-inner {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 30px;
}

.header-logo {
  line-height: 1;
  width: 100px;
  padding-bottom: 20px;
}

/*--------------------------------
 グローバルナビ
---------------------------------*/
.gnav-list {
  display: flex;
  position: relative;
  align-items: center;
  color: #000000;
  column-gap: 30px;
  
}
.gnav-about {
  font-size: 19px;
  line-height: 1;
  letter-spacing: 0.1em;
  margin-right: 15px;
}

.gnav-contact {
  font-size:19px;
  line-height: 1;
  letter-spacing: 0.1em;
  color:rgb(0, 0, 0);
  margin-right: 20px;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  position: relative;
  height: 100%;
}

.mv::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 430px;
  height: 10px;
  background-image: url(./assets/img/bg-line-bottom-black.svg);
}

.mv-logo{
  display: block;
  text-align: center;
  padding-top: 350px;
  
}



.scrolldown {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/*Scrollテキストの描写*/
.scrolldown span {
  /*描画位置*/
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*テキストの形状*/
  color: var(--main-color);
  writing-mode: vertical-rl;

  -webkit-writing-mode: vertical-rl;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
}

/* 丸の描写 */
.scrolldown:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--main-color);
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation: circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

/* 線の描写 */
.scrolldown:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 2px;
  height: 50px;
  background: var(--main-color);
}

/*--------------------------------
 見出し
---------------------------------*/


.headingPrimary {
  display: block;
  position: relative;
  font-size: 5em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
  
  margin-right:40rem;
  
}

.headingPrimary::after {
  position: absolute; /*positionをabsoluteに指定*/
  content: "";
  background-color: rgb(255, 255, 255); /*下線の色*/
  width: 90em; /*線の幅*/
  height: 1px; /*線の太さ*/
  bottom: -20px; /*線のタテ位置*/
  left: 50%;  /*線のヨコ位置*/
  margin-left: 300px;
  margin-top: -30px;
  transform: translateX(-50%);　/*線のヨコ位置*/
  
}

.heading {
  display: flex;
  text-align: center;
  margin-top: 100px;
  margin-right: 400px;
}



.headingPrimary_02 {
  display: block;
  position: relative;
  font-size: 5em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-right: 90px;

  
}

.heading_subttl {
  display: inline-block;
  font-size: 1.3rem;
  padding-top: 25px;
  text-align: left;
  text-wrap: nowrap;
  
}


.border {
 
border-bottom: solid 1px;
margin-bottom: 70px;
justify-content: center;
width: 90px;
margin-left: 50px;
}





.headingPrimary--reverse {
  color: #ffffff;
}

.headingPrimary--reverse::before {
  background-color: #ffffff;
}

/*--------------------------------
 works
---------------------------------*/
.story {
  color: #fff;
  padding: 140px 0;
  background-color: #000000;
  background-image: url(./assets/img/bg_story.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.story-columnWrap {
  display: grid;
  row-gap: 90px;
}

.story-column {
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  align-items: center;
  column-gap: 80px;
}

.story-desc {
  flex: 0 1 50%;
}

.story-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.story-text p {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.05em;
}

.story-img {
  flex: 1;
  transform: skew(-5deg, 0deg);
  box-shadow: 7px 7px var(--main-color);
}

.story-column:nth-child(2n) {
  flex-direction: row-reverse;
}

.story-column:nth-child(2n) .story-img {
  transform: skew(5deg, 0deg);
  box-shadow: -7px 7px var(--main-color);
}





/*
.story-video_01_hover a :hover video {
  opacity:0.5;
	-moz-opacity:0.5;
	filter:alpha(opacity = 50);
}
.story-video_02_hover a :hover video {
  opacity:0.5;
	-moz-opacity:0.5;
	filter:alpha(opacity = 50);
}
*/
/*--------------------------------
works-video 
---------------------------------*/


.video_all {
  display: flex;
  justify-content: center;
  flex-wrap: ;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
 
}



.saucy {
 display: block;
 width: 90%; 
 left: 0;
  top: 0;
  
  
  left: 0;
  
  top: 0;
  transition: all .2s ease-in-out;
  width: 100%;
  z-index: 1;
  padding-right: 20px;
  
 
  
}



.story-video_01_hover {
  display: block;
    overflow: hidden;
    position: relative;
 }

.story-video_01_hover video:hover {
 opacity: 0.4;
 transition: 0.5s;
 transform: scale3d(1.1,1.1,1);
}


.story-video_01_hover::after {
  background: url(assets/images/play.png);
 }










.tokyo_cart{
  display: block;
  width: 90%; 
  left: 0;
  top: 0;
  
  
  left: 0;
  
  top: 0;
  transition: all .2s ease-in-out;
  width: 100%;
  z-index: 1;
  padding-right: 20px;
  
 }

 .story-video_02_hover {
  display: block;
    overflow: hidden;
    position: relative;
 }

 .story-video_02_hover video:hover {
  opacity: 0.4;
  transition: 0.5s;
  
  transform: scale3d(1.1,1.1,1);
 }


.ag3video{
  width: 50%;
  background-color: #00fff5;
}

.video-text{
  display: block;
  text-align: left;
  margin-top: 15px;
  margin-right: 300px;
  margin: 0 auto;
  background-color: ;
  
  
  


}

.video-title{
  display: block;
  font-size: 18px;
 
 padding-bottom: 0px;
  margin-top: 5px;
  width: 40%;
 
  
}

.video-kinds{
  display: block;
  font-size: 13px;
  color: #d1d1d1;
  text-align: left;
  
  
  margin: ;
  margin: 0 auto;

 
}




/*--------------------------------
CTA
---------------------------------*/
.cta {
  position: relative;
  padding: 100px 0;
}

.cta-body {
  text-align: center;
}

.cta-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 25px;
}

.cta::before,
.cta::after {
  display: block;
  content: "";
  position: absolute;
  width: 430px;
  height: 40px;
  background-repeat: no-repeat;
}

.cta::before {
  top: 0;
  left: 0;
}

.cta::after {
  right: 0;
  bottom: 0;
}

.cta--01:before {
  background-image: url(./assets/img/bg-line-top-black.svg);
}

.cta--01::after {
  background-image: url(./assets/img/bg-line-bottom-color.svg);
}

.cta--02:before {
  background-image: url(./assets/img/bg-line-top-color.svg);
}

.cta--02::after {
  background-image: url(./assets/img/bg-line-bottom-black.svg);
}

.spCTA {
  display: none;
}

/*--------------------------------
 トレイラー
---------------------------------*/
.trailer {
  padding: 110px 0;
  background-color: var(--main-color);
}

.trailer-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.trailer-video iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 40px 30px;
  background-color: #e6e1e1;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.snsShare-list {
  display: flex;
  column-gap: 10px;
}

.footer-copyright {
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #fff;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 15px;
    line-height: 1.7;
  }


  .headingPrimary {
   padding-top: 30px;
  }

  



  /* レイアウト */
  .container {
    padding: 0 300px;
   
    overflow: hidden;
  }

  .bgParallax {
    margin-left: 100px;
  }

  /* ヘッダー */
  .header-inner {
    height: 60px;
    padding-top: 20px 0;
  }

  .header-logo {
    width: 70px;
    padding-top: 20px;
    padding-left: -10px;
    
  }

  .gnav-list {
    column-gap: 20px;
  }

  .gnav-item {
    font-size: 13px;
  }

  .gnav-cta {
    display: none;
  }
  .gnav-audio {
    position: absolute;
    right: 20px;
    bottom: -20px;
  }

  /* メインビジュアル */
  

  .mv-logo {
    width: 80%;
   padding-left: 80px;
   margin-bottom: 100px;
   padding-top: 300px;

  }

  .main-img {
     width: 80%;
     
  }


  /* ストーリー */
  .story {
    padding: 50px 0;
  }

  .story-columnWrap {
    row-gap: 60px;
  }

  ul {
    display :block;
  }
  
  .tokyo_cart{
    display: block;
    width: 100%; 
    /*padding-left: 40px;*/
   }

  
.video-text{
 margin-top: -15px;
 margin-bottom: 55px;
}

.video-title{
width: 120%;

}


.video-kinds{
 margin-top : -15px;
 
}




   .saucy{
    display: block;
    width: 100%; 
    /*padding-left: 40px;*/
   }



    

  .story-column:nth-child(2n) {
    flex-direction: column;
  }

  .story-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .story-text {
    margin-bottom: 30px;
  }

  .story-text p {
    font-size: 15px;
  }

  .story-img {
    width: 85%;
    margin: 0 auto;
  }

  /* CTA */
  .cta {
    padding: 70px 0;
  }

  .cta::before,
  .cta::after {
    width: 200px;
    height: 30px;
  }

  .cta::before {
    background-position: 100% 0;
  }

  .cta-title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .spCTA {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #000;
  }

  .spCTA .btn {
    width: 100%;
    font-size: 14px;
  }

  /* トレイラー */
  .trailer {
    padding: 50px 0;
  }

  /* フッター */
  .footer {
    padding: 40px 20px 120px;
  }

  .footer-inner {
    display: flex;
    flex-direction: column;
  }

  .snsShare {
    margin-bottom: 30px;
  }

  .snsShare-list {
    column-gap: 5px;
  }

  .footer-copyright {
    font-size: 11px;
  }
}
















  /* about */

    /* about mv */

  .about_mv {
    display: inline;
    
  	margin: 0 auto;
	  padding-top: 5px;
    padding-right: 100px;
	  text-align: center;
    left: 0;
     top: 0;
  
  } 

   .about_mv img {
    width: 100%;
   }

   .member{ 
   color: #fff;

   }

.member_context {
  max-width: 850px;  
color: #fff;
padding-top: 60px;
padding-bottom: 5px;
background-color: #000000;
background-image: url(./assets/img/bg_story.webp);
background-repeat: no-repeat;
background-position: center center;
margin: 0 auto;
background-size: cover;
text-align: center;
border-bottom: solid #ffffff 1px; 
opacity: 0;
}

.member_context_2 {
  max-width: 850px;  
color: #fff;
padding-top: 0px;
padding-bottom: 5px;
background-color: #000000;
background-image: url(./assets/img/bg_story.webp);
background-repeat: no-repeat;
background-position: center center;
margin: 0 auto;
background-size: cover;
text-align: center;

}

.member_ttl {
  width: 100%;
  text-align: center;
  font-size: 65px;
  padding-top: 120px;
}

.member_ttl_2 {
  width: 100%;
  text-align: left;
  font-size: 20px;
  padding-top: 10px;
  display: inline-block;
  
}

 /* about mv-logo */

.




.main-context_about{
  display: block;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 100px;
  opacity: 0%;
  font-family: Arial, Helvetica, sans-serif ; 

  
}




 /* about content */

 .about-body{

 color: #fff;
 padding: 10px 0;
padding-bottom: 200px;
 background-color: #000000;
 background-image: url(./assets/img/bg_story.webp);
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 text-align: center;

 
 }

 .about-main_logo {
  text-align: center;
  

 }
/*下からフェードイン*/





 .aimant_logo_white{
  width: 500px;
  
 }

.about-text{
 text-align: center;
 font-size: 18px;
 margin-top: -30px;
}


.member {
  max-width: 850px;  
  color: #000000;
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #000000;
  background-image: url(./assets/img/bg_story.webp);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  background-size: cover;
  display: flex;
  background-color: #fff
  
  ;
  
  


}

.member_color{
  background-color: #ffffff;
}


.video_grapher .mikihiro_arai{

  width: 550px; /*画像サイズ指定*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

 
.mikihiro_arai {
  
  width: 80%;
  
}

.member_yoko {
  display: flex;
}






.sub_name {

  text-align: left;
  font-size: 25px;
  color: #000000;
  margin: 0 auto;
  margin-left: 0px;
  background-color: #fff;

  
  width: 50%;
  
}

.sub_name_text {
  max-width: 850px;  
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
  background-image: url(./assets/img/bg_story.webp);
  background-repeat: no-repeat;
  background-position: center center;
 text-align: center;
  background-size: cover;


}


.name{
  display: block;  
  text-align: left;
  font-size: 40px;
  margin-top: 0px; 
  margin-bottom: 20px;
  pa-top: ;
  width: 40vw;
  padding-left: -100px;

}

.english_name{
  font-size: 20px;
  margin-top: 35px;
  letter-spacing: 0.1cap;
  display: block;
  text-align: left;
}

.member_name{
  display: block;
  
  text-align: center;
  margin-top: 0px;
  margin-left: 50px;
  margin-bottom: 150px;
  padding-bottom: 30px;
 }

.member_name_ttl{
  display: inline-block;
  margin-left: 80px;
  margin-top: 100px;
  padding-top: -450px;
  text-align: left;
  f
}

  /* about */



   
  
  /* contact */


  .about_mv{
     
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    width: 111%;
    padding-bottom: 900px;
    padding-top: 30px;
    } 
  
   /* about mv-logo */
  
   .about_mv_02{
     
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    width: 111%;
    padding-bottom: 900px;
    padding-top: 30px;
    } 
  
  .about-mv {
    position: relative;
    text-align: center;
    height: 100%;
    font-size: 60px;
    color: #000000;
    font-weight: 600;
    letter-spacing: -0.1rem;
    padding-right: 300px;
    
  }
  
  .youtube-mv {
    position: relative;
    text-align: center;
    height: 100%;
    font-size: 60px;
    color: #000000;
    font-weight: 600;
    letter-spacing: -0.1rem;
    
    
  }
  
  
  
  .main-context_about{
    display: block;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 400px;
    opacity: 0%;
    font-family: Arial, Helvetica, sans-serif ; 
  
    
  }
  
  
  
  
   /* contact content */
  
   .contact-body{
  
   color: #fff;
   padding: 10px 0;
  padding-bottom: 200px;
   background-color: #000000;
   background-image: url(./assets/img/bg_story.webp);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   }



   .contact-title {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.05em;
    color: rgb(255, 255, 255);
    margin-bottom: 80px;
    margin-top: 50px;
    text-align: center;
   }







/*contact*/


/*リセットcss↓*/
html {
  overflow-y: scroll;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,th {
  text-align: left;
}
q:before,q:after {
  content: '';
}
object,embed {
  vertical-align: top;
}
hr,legend {
  display: none;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
}
img,abbr,acronym,fieldset {
  border: 0;
}
li {
  list-style-type: none;
}
sup {
  vertical-align: super;
  font-size: 0.5em;
}
img {
  vertical-align: top;
}
i {
  font-style: normal;
}
/*----リセットcss*----/

/*デザインcss↓*/
.box_con08 {
  max-width: 900px;
  margin: 0  auto;
}

.box_con08 form {
  width: 100%;
}
.box_con08 form ul {
  width: 100%;
  background: #000000;
 
}
.box_con08 form ul li {
  position: relative;
  overflow: hidden;
  margin: .5em 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 769px) {
  .box_con08 form ul li {
    display: -webkit-flex;
    display: flex;
  }
}
@media print {
  .box_con08 form ul li {
    display: -webkit-flex;
    display: flex;
  }
}
.ie8 .box_con08 form ul li {
  display: -webkit-flex;
  display: flex;
}
.box_con08 form ul li .title {
  position: relative;
  width: 30%;
  font-weight: normal;
  padding: 1em;
  position: relative;
  color: #fefefe;
}
@media only screen and (min-width: 769px) {
  .box_con08 form ul li .title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
}
@media print {
  .box_con08 form ul li .title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
}
.ie8 .box_con08 form ul li .title {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .box_con08 form ul li .title {
    text-align: center;
    width: 100%;
    display: block;
    padding: .8em .2em;
    color: #fff;
    background: #1c2e53;
  }
}
.box_con08 form ul li .title em {
  position: relative;
  z-index: 1;
}
.box_con08 form ul li .title span {
  background: #cd6f55;
  padding: 0 .3em;
  color: #fff;
  margin-left: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_con08 form ul li .box_det {
  width: 70%;
  position: relative;
  padding: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .box_con08 form ul li .box_det {
    padding: 1.5em .5em;
    display: block;
    width: 100%;
  }
}
.box_con08 form ul li .box_br {
  display: block;
}
.box_con08 form ul li select, .box_con08 form ul li textarea, .box_con08 form ul li .wide {
  width: 100%;
  height: 3em;
  padding: .5em;
  border: none;
  outline: none;
  background: transparent;
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_con08 form ul li textarea {
  height: 10em;
}



























/*プライバシーのデザインcss↓*/
.con_pri {
  max-width: 700px;
  margin: 0  auto;
}
@media only screen and (max-width: 768px) {
  .con_pri {
    width: 95%;
  }
}
.con_pri .box_pri {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #cdcdcd;
  background: #f7f7f7;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px 55px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri {
    margin-top: 4%;
    padding: 3%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .con_pri .box_pri {
    padding: 4%;
  }
}
.con_pri .box_pri .box_tori {
  text-align: left;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_tori {
    margin-top: 4%;
  }
}
.con_pri .box_pri .box_tori h4 {
  font-weight: normal;
  margin-bottom: 30px;
  font-size: 150%;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_tori h4 {
    margin-bottom: 4%;
  }
}
.con_pri .box_pri .box_tori .txt {
  padding: 0 20px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_tori .txt {
    padding: 0;
  }
}
.con_pri .box_pri .box_num {
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_num {
    margin-top: 5%;
  }
}
.con_pri .box_pri .box_num h4 {
  font-weight: normal;
  font-size: 113%;
}
.con_pri .box_pri .box_num .txt {
  padding: 10px 0 0 20px;
}
@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_num .txt {
    padding: 3% 0 0 3%;
  }
}

.box_check {
  text-align: center;
  margin: 1em auto;
}
.box_check label {
  display: inline-block;
}
.box_check label span {
  margin-left: .3em;
}

.btn {
  text-align: center;
}
.btn input {
  display: inline-block;
  background: #eee;
  padding: .5em 4em;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn input:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
   









/*tokyo kart  とび先*/

@media only screen and (min-width: 769px) {


  .youtube {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 140px;

  
}

.tokyo_kart_youtube_subttl {
 display: block;
 width: 30%;
 text-align: center;
 
 font-size: 20px;
 background-color: #fff;
 color: #000;
 
}




.tokyo_kart_youtube_ttl {
  display: block;
  width: 100%;
  text-align: left;
  margin-left: -px;
  font-size: 45px;
 
 }


 .tokyo_kart_youtube_text {
  display: inline-block;
 
  
  text-align: left;
  margin-top: 50px;
  
 
}

.tokyo_kart_youtube_profession {
  
 
  
  text-align: right;
  margin-top: 20px;
  
 
}


.tokyo_kart_youtube_subttl_center {
  color: #fff;
  padding: 10px 0;
  padding-bottom: 200px;
  background-color: #000000;
  background-image: url(./assets/img/bg_story.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;


}



.tokyo_cart_youtube {
  
}

.youtube-body {

max-width: 850px;  
color: #fff;
padding-top: 60px;
padding-bottom: 60px;
background-color: #000000;
background-image: url(./assets/img/bg_story.webp);
background-repeat: no-repeat;
background-position: center center;
margin: 0 auto;
background-size: cover;
text-align: center;
border-bottom: solid #ffffff 1px; 
;



}


.youtube-body_02 {

  max-width: 850px;  
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
 
  background-image: url(./assets/img/bg_story.webp);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  background-size: cover;
  text-align: center;
 
  
  
  
  
  }


}



@media only screen and (max-width: 769px) {

  .youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

  .youtube-body {

    max-width: 350px;  
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #000000;
    background-image: url(./assets/img/bg_story.webp);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    background-size: cover;
    text-align: center;
    border-bottom: solid #ffffff 1px; 
    ;
    
    
    
    }
    
    
    .youtube-body_02 {
    
      max-width: 350px;  
      color: #fff;
      padding-top: 10px;
      padding-bottom: 10px;
     
      background-image: url(./assets/img/bg_story.webp);
      background-repeat: no-repeat;
      background-position: center center;
      margin: 0 auto;
      background-size: cover;
      text-align: center;
      }




      .tokyo_kart_youtube_profession {  
        
        text-align: right;
        margin-top: 20px;

      }



      .tokyo_kart_youtube_ttl {
        display: block;
        width: 100%;
        text-align: left;
        margin-left: -px;
        font-size: 45px;
       
       }
      


       .tokyo_kart_youtube_subttl {
        display: block;
        width: 50%;
        text-align: center;
        
        font-size: 20px;
        background-color: #fff;
        color: #000;
        
       }


       .youtube {
        padding-top: 130px;
      }


      .tokyo_kart_youtube_text {
        display: inline-block;
       
        
        text-align: left;
        margin-top: 50px;
        
       
      }

    }







    /* フェードイン用のCSS */
.slide-bottom {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s 0.1s ease-out;
}

.slide-bottom_01 {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s 0.2s ease-out;
}

.slide-bottom_02 {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s 0.5s ease-out;
}





.slide-top {
	opacity: 0;
	transform: translate(0, -20px);
	transition: all 0.5s ease-out;
 }

 /* 左からフェードイン */
.slide-left {
	opacity: 0;
	transform: translate(-20px, 0);
	transition: all 0.5s ease-out;
 }

/* 右からフェードイン */
.slide-right {
	opacity: 0;
	transform: translate(20px, 0);
	transition: all 0.5s ease-out;
 }
